<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Template Basic Images Start -->
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="icon" href="../../img/favicon/sparkFavicon.jpg">
    <link rel="apple-touch-icon" sizes="180x180" href="../../img/favicon/sparkFavicon.jpg">
    <!-- Template Basic Images End -->
    <!-- Custom Browsers Color Start -->
    <meta name="theme-color" content="#000">
    <!-- Custom Browsers Color End -->
    <script defer src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" integrity="sha384-QMu+Y+eu45Nfr9fmFOlw8EqjiUreChmoQ7k7C1pFNO8hEbGv9yzsszTmz+RzwyCh" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap" rel="stylesheet">
    <link href="../../Content/uikit.min.css" rel="stylesheet">
    <link href="../../Content/main.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
</head>
<body class="">
    <!-- Off canvas menu -->
    <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close dark" type="button" uk-close></button>
            <ul class="offcanvas-list">
                <li><a href="#aboutUsAnkor">About</a></li>
                <li><a href="#servicesAnkor">Services</a></li>
                <li><a href="#contactsAnkor">Contacts</a></li>
                <li><a href="#contactsAnkor" class="header-button uk-box-shadow-small">Get a quote</a></li>
            </ul>
        </div>
    </div>
    <!-- Custom HTML -->
    <section class="firstBlock">
        <div class="firstBlock__background" uk-parallax="bgy: -300" style="background-image: url('../../img/fifthBlock/confetti_bg.svg');">
            <header class="header animated fadeInLeft">
                <div class="uk-container">
                    <div class="uk-position-relative">
                        <!-- bg -->
                        <!-- <img src="images/light.jpg" alt=""> -->
                        <div class="uk-position-top custom-margin">
                            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                                <div class="uk-navbar-left logo-wrapper">
                                    <img src="../../public/img/firstBlock/CreativeSpark-logo-white.svg" alt="">
                                </div>
                                <div class="uk-navbar-right uk-visible@m">
                                    <ul class="uk-navbar-nav header-nav">
                                        <li><a href="#aboutUsAnkor" uk-scroll>About</a></li>
                                        <li><a href="#servicesAnkor" uk-scroll>Services</a></li>
                                        <li><a href="#contactsAnkor" uk-scroll>Contacts</a></li>
                                    </ul>
                                    <a href="#contactsAnkor" class="header-button uk-box-shadow-small" uk-scroll>Get a quote</a>
                                </div>
                                <div class="uk-navbar-right uk-hidden@m">
                                    <a class="burger" uk-toggle="target: #offcanvas-overlay">
                                        <div class="burger-line"></div>
                                        <div class="burger-line"></div>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Content of first block -->
            <div class="first-content firstBlock__triangle">
                <div class="uk-container">
                    <div uk-parallax="y: -20; easing: -2" class="h1-wrapper wow softFadeInRight" data-wow-delay=".7s">
                        <h1 class="uk-h1 h1">Spark it with the right people</h1>
                    </div>
                    <p class="wow softFadeInRight" data-wow-delay=".8s" uk-parallax="y: -20; easing: -2">We specialize in development for the web. Starting from developing your one-time projects and up to building your offshore teams.</p>
                    <a data-wow-delay=".9s" href="#contactsAnkor" class="header-button uk-box-shadow-small green-bg wow softFadeInRight" uk-scroll>Get a quote</a>
                    <div data-wow-delay=".8s" uk-parallax="y: 30; easing: -2" class="hipster-container wow fadeIn">
                        <div class="hipster-wrapper">
                            <!-- Hipster image -->
                            <img class="hipster" src="../../img/firstBlock/Hipster.svg" alt="Hi!">
                            <!-- Steam image -->
                            <img class="steam" src="../../img/firstBlock/steam.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="aboutUsAnkor" class="secondBlock">
        <div class="uk-container">
            <h2 data-wow-delay=".8s" class="uk-h2 h2 wow softFadeInUp">About us</h2>
            <div class="secondBlock-container">
                <p data-wow-delay=".5s" class="wow softFadeInUp">
                    With over 10 year's experience our goal is to share our knowledge with you. We specialize in building your web projects according to design and requirements or supporting you with setting up your offshore reams in Ukraine by establishing
                    up offices and recruiting the right people.
                </p>
                <p data-wow-delay=".5s" class="wow softFadeInUp">Creating and assimilating the correct work processes and communication which will increase significantly your productivity, revenues and fast integration.</p>
            </div>
        </div>
    </section>
    <section id="servicesAnkor" class="thirdBlock thirdBlock__triangle">
        <div class="uk-container">
            <h2 data-wow-delay=".5s" uk-parallax="y: -20; easing: -2" class="uk-h2 h2 wow softFadeInUp">Services</h2>
            <div class="grid services-cards">
                <div data-wow-delay=".5s" class="services-card uk-box-shadow-medium uk-box-shadow-hover-large wow softFadeInRight">
                    <div class="services-card__icon uk-box-shadow-large services-card__icon--green">
                        <i class="fas fa-user-friends"></i>
                    </div>
                    <div class="services-card__title">
                        <h3 class="uk-h3 h3">Dev team Building</h3>
                        <h5 class="uk-h5 h5">Setting up your off shore operation</h5>
                    </div>
                    <ul class="uk-list services-card__list">
                        <li>
                            <div class="services-card__list-icon">
                                <div class="services__icon-wrapper services-card__icon--green">
                                    <i class="fas fa-comment-dots"></i>
                                </div>
                            </div>
                            <div class="regulator">
                                <p><strong>Introductory meeting:</strong> learning the cornerstones of your business needs and dreams</p>
                            </div>
                        </li>
                        <li>
                            <div class="services-card__list-icon">
                                <div class="services__icon-wrapper services-card__icon--green">
                                    <span uk-icon="file-text"></span>
                                </div>
                            </div>
                            <div class="regulator">
                                <p><strong>Characterize</strong> the product needs, budget and ultimate goal</p>
                            </div>
                        </li>
                        <li>
                            <div class="services-card__list-icon">
                                <div class="services__icon-wrapper services-card__icon--green">
                                    <i class="fas fa-user-friends"></i>
                                </div>
                            </div>
                            <div class="regulator">
                                <p><strong>Building</strong> the optimal team roles and process</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div data-wow-delay=".5s" class="services-card uk-box-shadow-medium uk-box-shadow-hover-large wow softFadeInLeft">
                    <div class="services-card__icon uk-box-shadow-large services-card__icon--orange">
                        <i class="fas fa-code"></i>
                    </div>
                    <div class="services-card__title">
                        <h3 class="uk-h3 h3">Web dev</h3>
                        <h5 class="uk-h5 h5">Developing your web projects</h5>
                    </div>
                    <ul class="uk-list services-card__list">
                        <li>
                            <div class="services-card__list-icon">
                                <div class="services__icon-wrapper services-card__icon--orange">
                                    <i class="fas fa-info"></i>
                                </div>
                            </div>
                            <div class="regulator">
                                <p><strong>Gathering</strong> info and requirements</p>
                            </div>
                        </li>
                        <li>
                            <div class="services-card__list-icon">
                                <div class="services__icon-wrapper services-card__icon--orange">
                                    <i class="fas fa-cog"></i>
                                </div>
                            </div>
                            <div class="regulator">
                                <p><strong>Setting up</strong> thechnical & functionality details</p>
                            </div>
                        </li>
                        <li>
                            <div class="services-card__list-icon">
                                <div class="services__icon-wrapper services-card__icon--orange">
                                    <i class="fas fa-bug"></i>
                                </div>
                            </div>
                            <div class="regulator">
                                <p><strong>QA</strong> cycle and Client input</p>
                            </div>
                        </li>
                        <li>
                            <div class="services-card__list-icon">
                                <div class="services__icon-wrapper services-card__icon--orange">
                                    <i class="fas fa-rocket"></i>
                                </div>
                            </div>
                            <div class="regulator">
                                <p><strong>Going</strong> live</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="fourthBlock">
        <div class="uk-container">
            <h2 data-wow-delay=".5s" class="uk-h2 h2 wow softFadeInUp">The amazing team</h2>
            <div class="team__wrapper grid">
                <div data-wow-delay=".5s" class="team-member wow softFadeInUp">
                    <img src="../../img/fourthBlock/shlomo.png" alt="">
                    <div class="team-member__post">
                        <h4>Shlomo Kalichman</h4>
                        <p>Web development expert</p>
                    </div>
                </div>
                <div data-wow-delay=".7s" class="team-member wow softFadeInUp">
                    <img src="../../img/fourthBlock/anat.png" alt="">
                    <div class="team-member__post">
                        <h4>Anat Nazukaro</h4>
                        <p>Product manager expert</p>
                    </div>
                </div>
                <div data-wow-delay=".9s" class="team-member wow softFadeInUp">
                    <img src="../../img/fourthBlock/felix.png" alt="">
                    <div class="team-member__post">
                        <h4>Felix Kalichman</h4>
                        <p>Data scientist expert</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fifthBlock">
        <div class="fifthBlock__parallax uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('../../img/fifthBlock/confetti_bg.svg');">
            <div class="and-block">
                <h2 data-wow-delay=".5s" class="uk-h2 h2 wow fadeIn">&</h2>
            </div>
            <div class="uk-container">
                <div class="fifthBlock__content">
                    <h3 data-wow-delay=".5s" class="uk-h3 h3 wow softFadeInLeft">Web developers</h3>
                    <p data-wow-delay=".6s" class="wow softFadeInRight">Frontend and backend</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contactsAnkor" class="sixthBlock firstBlock__triangle firstBlock__triangle--form">
        <div class="uk-container">
            <div class="sixthBlock__content">
                <h2 data-wow-delay=".5s" class="uk-h2 h2 wow softFadeInUp">Want to work with us?</h2>
                <p data-wow-delay=".5s" class="wow softFadeInUp">Your project is very important to us</p>
            </div>
        </div>
        <div class="form">
            <div class="form-wrapper">
                <form action="handler" id="form_send" data-wow-delay=".5s" class="contact-form contact-form--success wow softFadeInUp">
                    <h3 class="uk-h3 h3">Get a quote</h3>
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input placeholder="Your name" class="uk-input uk-box-shadow-small" type="text" name="name">
                    </div>
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: phone"></span>
                        <input id="phone" placeholder="Phone" class="uk-input uk-box-shadow-small" type="phone" name="phone">
                    </div>
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input required placeholder="Email address" class="uk-input uk-box-shadow-small" type="email" name="email">
                    </div>
                    <div class="uk-inline">
                        <textarea name="message" required class="uk-textarea textarea uk-box-shadow-small" rows="5" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="uk-inline">
                        <input class="submit uk-box-shadow-small" value="Send message" type="submit">
                    </div>
                    <div id="successBlock" class="success-block">
                        <i class="far fa-check-circle"></i>
                        <h2 class="h2 uk-h2">Thank You!</h2>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="help-block"></div>
    <footer class="footer">
        <div class="social-links grid">
            <a data-wow-delay=".5s" class="wow softFadeInUp" href="https://www.linkedin.com/company/cognitive-spark/">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a data-wow-delay=".6s" class="wow softFadeInUp" href="https://m.facebook.com/Cognitive-Spark-105433380836033/">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <a data-wow-delay=".8s" href="mailto:contactus@cgspark.com" class="mail-link wow softFadeInUp">contactus@cgspark.com</a>
        <p data-wow-delay=".9s" class="copyright mail-link wow softFadeInUp">© 2019 All rights reserved</p>
    </footer>
    <!-- <div class="test"></div> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="../../Scripts/scripts.min.js"></script>
</body>
</html>
